
@{
    ViewBag.Title = "Trang Quản Trị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <div>
        <b><i class="fa fa-home text-danger">&nbsp;</i><span class="text-danger">TRANG QUẢN TRỊ</span></b>
    </div>
}


